body {
  font-family: Arial, sans-serif;
  text-align: center;
  background: linear-gradient(to right, #ff0000, #b30086);
  color: white;
  margin: 0;
  padding: 0;
}

.container {
  width: 100%;
  box-sizing: border-box;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  width: 100%;
  height: auto;
  flex-wrap: wrap;
  margin: 4px;
}

.header-logo {
  width: 40%;
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 16px;
  border-right: 2px solid #ccc;
  height: auto;
  padding: 0 10px;
}

.header-notes {
  width: 30%;
  display: none;
  flex-direction: column;
  border-right: 2px solid #ccc;
  height: auto;
  padding: 10px;
}

.header-timer {
  display: none;
  width: 20%;
  text-align: left;
  height: auto;
  padding: 10px;
}

.header-logo img {
  width: 100%;
  height: auto;
  max-width: 120px;
  max-height: 120px;
  margin: 0;
}

.header-logo #large-screen-logo-notes,
.header-logo #small-screen-logo-notes {
  display: flex;
  justify-content: left;
  text-align: left;
  font-weight: bolder;
  font-size: 30px;
}

.crores {
  font-size: 20px;
}

.header-notes h3,
.header-timer h3 {
  text-align: left;
  padding: 0;
  margin: 0;
}

ul {
  list-style: none;
  margin: 4px;
  padding: 0;
}
li {
  display: flex;
  margin-bottom: 4px;
}

.tick {
  margin-right: 16px;
}

.digit {
  font-size: 32px;
  font-weight: 800;
  background: white;
  color: black;
  padding: 4px 8px;
  border-radius: 4px;
}

#small-digit {
  background-color: rgba(0, 0, 0, 0.2);
  padding: 2px;
}

.small-header-timer {
  position: fixed;
  top: -12px;
  right: 0;
  color: white;
  display: none;
}

.period {
  font-size: 40px;
  font-weight: 800;
  color: white;
}

.main-body {
  background-color: white;
  padding: 8px;
  border-radius: 8px;
  margin: 8px;
}

.lottery-grid {
  display: flex;
  justify-content: center;
  position: relative;
  display: flex;
  margin-top: 25px;
  background-color: #ffcce0;
  border-radius: 8px;
  scrollbar-width: 0;
  overflow-x: auto;
  padding: 10px 0;
}

.ticket {
  background: white;
  color: #ccc;
  padding: 8px;
  margin: 4px;
  border-radius: 4px;
  text-align: center;
}

.grid div {
  width: 30px;
  height: 30px;
  border: 1px solid #ccc;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  position: relative;
}

.grid div.selected {
  color: black;
  font-size: larger;
}

.grid div:hover {
  background-color: whitesmoke;
  transform: scale(1.1);
}

#pricematch {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  font-size: 1rem;
}

#price3match b,
#price2match b,
#price1match b {
  font-size: 1.2rem;
  color: #b30086;
}

#selectedItems {
  border-radius: 8px;
  padding: 12px;
  border: 1px solid #b30086;
  width: 50%;
}

#selected-description {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

#selected-description h4 {
  margin: 0;
}

#selected-description p {
  font-size: small;
  color: #ccc;
  font-style: Italic;
}

.main-body h3 {
  border-radius: 4px;
  border: 1px solid #ccc;
  padding: 6px;
  margin: 6px 0;
}

.selected-h3 {
  color: #ff0066;
}

button {
  padding: 4px;
  background: black;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.controls-buttons {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.controls {
  display: flex;
  justify-content: space-between;
  width: auto;
}

.controls button {
  width: 50%;
  margin: 0;
  background-color: whitesmoke;
  color: black;
  font-size: 16px;
  font-weight: 600;
  border: 1px solid #ccc;
  text-align: center;
}
.controls #autoSelect {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.controls #allSelect {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
#delete,
#model-delete {
  background-color: whitesmoke;
  border: 1px solid #ccc;
  margin-left: 10px;
}

.options {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  text-align: left;
  gap: 4px;
  width: 100%;
}

.duration,
.stake,
.time {
  background-color: whitesmoke;
  color: black;
  padding: 10px;
  flex-grow: 1;
  border-radius: 8px;
}

.duration label,
.stake label,
.time label {
  display: block;
  font-weight: bold;
  margin-bottom: 10px;
}

.radio-container {
  display: flex;
  flex-wrap: wrap;
  gap: 4px;
}

.radio-container input[type="radio"],
.radio-container label {
  display: inline-flex;
  align-items: center;
  margin: 8px;
}

.radio-container input[type="radio"] {
  appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 1px solid #ccc;
  position: relative;
  cursor: pointer;
  background: radial-gradient(circle, #fff 40%, #ccc 60%);
  transition: background-color 0.3s ease;
}

.radio-container input[type="radio"]:checked {
  background-color: black;
  background: radial-gradient(circle, #000 40%, #ccc 60%);
}

#stake,
#startTime {
  font-weight: bold;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" width="10" height="6" viewBox="0 0 10 6"%3E%3Cpolygon points="0,0 5,6 10,0" fill="black" /%3E%3C/svg%3E')
    no-repeat right 4px center;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 4px;
}

#stake {
  padding: 4px 40px;
}

#startTime {
  padding: 4px 24px;
}

.modal {
  display: none;
  position: fixed;
  flex-direction: row;
  justify-content: space-between;
  z-index: 1;
  border: 2px solid #b30086;
  border-radius: 12px;
  background-color: #fff;
  color: black;
  padding: 16px;
  gap: 4px;
  width: 50%;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  transform: transform(-50, -50);
  top: 15%;
  left: 5%;
}

.modal.active {
  display: flex;
}

.model-first,
.model-second {
  width: 50%;
  box-sizing: border-box;
  margin: 0;
}

#modalTitle {
  width: 100%;
  display: flex;
  align-items: left;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 4px;
}

.model-first {
  padding: 8px;
}

.model-second {
  border: 1px solid #b30086;
  background-color: whitesmoke;
  border-radius: 8px;
  padding: 8px;
  margin: 16px 0;
}

.model-buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.model-buttons h3 {
  margin: 0;
}

.modalGrid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 4px;
  padding: 4px;
  color: #b30086;
}

.modelOption {
  background-color: whitesmoke;
  border-radius: 8px;
  padding: 8px;
}

#option-description {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

#option-description h4 {
  margin: 0;
}

#option-description p {
  font-size: small;
  color: #ccc;
  font-style: Italic;
  margin: 2px;
}

.optionGrid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 6px;
  margin-top: 20px;
  justify-items: start;
}

.optionGrid div {
  display: flex;
  justify-content: center;
  align-items: center;
  color: green;
  background-color: white;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s;
  height: 30px;
  width: 30px;
  box-shadow: 4px 4px 10px #ccc;
}

.optionGrid div:hover {
  background-color: #ddd;
}

.modalGrid div {
  width: 30px;
  height: 30px;
  border: 1px solid #ccc;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  position: relative;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.modalGrid div:hover {
  background-color: #f0f0f0;
  transform: scale(1.1);
}

.modalGrid div.selected {
  color: black;
  font-size: larger;
}

.price-body {
  background-color: white;
  padding: 8px;
  border-radius: 8px;
  margin: 8px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
}

.promo-text {
  color: green;
  font-size: 18px;
  font-weight: bold;
  text-decoration: underline;
  display: flex;
  align-items: flex-start;
}

.promo-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.right-content {
  color: black;
  display: flex;
  justify-content: space-between;
  min-width: 10%;
}

.promo-buttons {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}

.promo-buttons button {
  padding: 10px 30px;
  border: none;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
  border-radius: 40px;
  font-weight: bolder;
}

#promo1button {
  background-color: green;
  color: white;
}

#promo2button {
  background-color: transparent;
  color: black;
  border: 2px solid green;
}

@media (max-width: 700px) {
  .header-logo {
    border-right: none;
  }

  .header-notes {
    border-right: none;
  }

  .small-header-timer {
    display: block;
  }

  .promo-header {
    flex-direction: column;
    align-items: flex-start;
  }

  .promo-text {
    margin-bottom: 8px;
  }

  .right-content {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  .promo-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }

  .promo-buttons button {
    width: 100%;
    padding: 12px 0;
  }

  .header-logo {
    width: 100%;
  }

  .header-logo #large-screen-logo-notes {
    display: none;
  }

  .header-logo #small-screen-logo-notes {
    display: block;
  }
}

@media (min-width: 700px) {
  .header-timer {
    display: block;
  }

  .header-notes {
    display: block;
  }

  .header-logo #large-screen-logo-notes {
    display: block;
  }

  .header-logo #small-screen-logo-notes {
    display: none;
  }
}
